body {
  font-family: 'Open Sans', sans-serif !important;
  /*background-color: hsl(48, 50%, 97%) !important;*/
}

.section-grid {
  max-width: 1248px;
}

.section-logo {
  width: 250px;
  height: auto;
}